@import "~src/styles";
.card-content {
  border: 2px solid $accent;
  word-wrap: break-word;
  align-content: center;
  padding-bottom: 50%;
}

.textSquare{
  @extend .card-content;
}

.marked{
  @extend .card-content;
  background: $warn;
}
